@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Titan+One&display=swap');


body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: Lato;
}

.icon-mobile {
    display: none;
}

.menu-top{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #777777;
}

.text-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 70px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 900;
    color: #FFFFFF;
}

.area-menu {
    top: 70px;
    width: 380px;
    height: 100vh;
    position: fixed;
    background-color: #d9d9d9;
}

form label{
    font-family: Lato;
    font-size: 15px;
    font-weight: 900;
}

.dia, .mes, .ano{
    width: 100px;
}

.ano {
    margin-bottom: 20px;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    display: flex;
    height: 90px;
    list-style: none;
}

.menu ul li:hover {
    background-color: #c3c3c3c3;
    transition: 0.5s;
}

.active{
    background-color: #c3c3c3c3; 
}

.select {
    height: 90px; 
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent; 
    border-right:25px solid #777777; 
}

.menu ul li a{
    padding: 0px;
    margin: 0px;
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    height: 90px;
    color: #000000;
    font-weight: 600;
    font-family: Lato;
}

.area-img {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
    flex: 1;
}

img {
    width: 45px;
}



    /*ÁREA MAIN*/
    
.area-main {
    position: relative;
    left: 395;
    top: 70;
    padding: 10px;
    width: calc(100vw - 410px);
}
    /*Dados*/

.area-info div{
    padding: 10px;
    font-size: 17px;
}

.dia{
    margin-top: 20px;
}


input{
    display: flex;
    margin-top: 10px;
}

.pdf{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777777;
    width: 200px;
    height: 35px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    border: none;

}

.PDF:last-child{
    height: 50px;
    padding-left: 17px;
}

.pdf:hover{
    background-color: #919191;
}

@media only screen and (max-width: 1000px){
    .area-menu {
        width: 250px;
    }

    .area-main {
        left: 255;
        width: calc(100vw - 260px);
        right: 15;
    }

    .area-img{
        margin-left: 10px;
    }

}


@media only screen and (max-width: 768px){
    .area-menu {
        display: none;
    }

    .area-main {
        top: 70;
        left: 0;
        width: auto;
    }
    .menu-top {
        display: none;
    }

    .icon-mobile {
        display: block;
        position: fixed;
        background-color: #FFFFFF;
        width: 100%;
        height: 80px;
        z-index: 1;
    }

    .icon-mobile img {
        position: absolute;
        top: 10;
        left: 10;
        width: 40px;
    }
}

@media only screen and (max-width: 450px){
    .inputs input {
        margin-left: 0px;
        width: 100%;
    }

    .area-pai {
        margin-top: 0px;
    }

    .area-pai, .area-mae, .area-nome, .area-escola, .area-fone, .area-value {
        display: flex;
        font-size: 16px;
        flex-direction: column;
    }

    .area-input {
        height: 480px;
    }
}