<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styleRecibo.css" media="print, screen" />
    <title>Document</title>
</head>
<body>



    <div class="container">
    {{#list}}
        <div class="recibo">
            <div class="area-recibo">
                <div class="area-recibo-cabe">
                    <div class="text">RECIBO:</div>
                    <div class="N">
                        <label>N°</label>
                        <input type="text">
                    </div>
                    <div class="valorN">
                        <label>VALOR: </label>
                        <input type="text" value="{{value}},00">
                    </div>
                </div>
                <div class="area-recibo-corpo">
                    <div class="area-1">
                        <label>Recebi(emos) de</label>
                        <input type="text" value="{{name}}">
                    </div>
                    <div class="area-2">
                        <label>a quantia de</label>
                        <input type="text" value="{{exte}} -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------">

                    </div>
                    <div class="area-hidden-1">
                        <div class="linha"></div>
                    </div>
                    <div class="area-3">
                        <label>Referente á</label>
                        <input type="text" value="Transporte escolar {{text1}}">
                    </div>
                    <div class="area-hidden-2">
                        <input type="text" value="{{text2}}">
                        <br/>
                        <label>e para a clareza firmo(amos) o presente.</label>
                    </div>
                    <div class="area-4">
                        <input class="input-1" type="text" value="jaraguá do sul">
                        <label>,</label>
                        <input class="input-2" type="text" value="{{day}}">
                        <label>de</label>
                        <input class="input-3" type="text" value="{{moth}}">
                        <label>de</label>
                        <input class="input-4" type="text" value="{{year}}">
                    </div>
                    <div class="area-5">
                        <label>Assinatura</label>
                        <input type="text">
                    </div>
                    <div class="area-6">
                        <label>Emitente</label>
                        <input type="text">
                    </div>
                    <div class="area-7">
                        <label>CPF</label>
                        <input type="text">
                        <label>RG</label>
                        <input type="text">
                    </div>

                </div>
                
            </div>
        </div>   
    {{/list}}     
    </div>
    
    
    
    <script type="text/javascript" src="/js/recibo.js"></script>
    
</body>
</html>